<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key %>')">
    <h1> <%= @list.name %> </h1>
</div>


<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<h3> My bookmarks </h3>
<% @list.bookmarks.each do |bookmark| %>
<%= bookmark.movie.title %>
<%= bookmark.movie.overview %>
<%= image_tag bookmark.movie.poster_url, width: 200%>
<%= bookmark.comment %>
<%= link_to 'Delete',  bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>

<%= link_to "<< Back", lists_path %>
